<app-header></app-header>
<app-menu></app-menu>

  <div class="scroll card card-primary main-header navbar navbar-expand bg-white navbar-light border-bottom ">
  <h2> Liste des employés</h2>

  <table class="table table-striped ">
    <thead>
    <tr>
      <th>Type_employé</th>
      <th >Id </th>
      <th>CNI</th>
      <th>Date_Naissance</th>
      <th>Domicile</th>
      <th>Login</th>
      <th>Nom</th>
      <th>Password</th>
      <th>Photo</th>
      <th>Type Piece</th>
      <th>Empreinte</th>
      <th>Fonction</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let employes of employe">
      <td >{{employes.type_employe}}</td>
      <td >{{employes.id_employe}}</td>
      <td>{{employes.cni}}</td>
      <td>{{employes.dateNaissance}}</td>
      <td>{{employes.domicile}}</td>
      <td >{{employes.login}}</td>
      <td>{{employes.nom}}</td>
      <td>{{employes.password}}</td>
      <td>{{employes.photo}}</td>
      <td>{{employes.typePiece}}</td>
      <td>{{employes.pointage}}</td>
      <td><button class="btn btn-danger"> Ajouter</button>
        <button class="btn btn-danger" style="margin-left: 20px;"> Supprimer</button></td>


    </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>
