div.scroll {
  background-color: #333;

  white-space: nowrap;
}
table{overflow: scroll;
  display: block;}
div.scroll a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scroll a:hover {
  background-color: #777;
}
